*{
    margin: 0;
}
.inline{
    display: inline;
}
body{
    background-color: #2C74B3;
}
#cabeca{
    background-color: #0A2647;
    border-bottom: solid 1px #205295;
    font-family: fantasy;
    font-size: 50px;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}
#meu{
    color: white;
}
#site{
    color: #2C74B3;
}
#links{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: #144272;
    border-bottom: solid 1px #205295;
    color: white;
}
ul{
    display: inline;
    justify-content: center;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: rgb(225, 225, 225);
}
#textinhos{
    background-color: #2C74B3;
    color: white;
    padding: 1%;
}
.separa{
    background-color: #2C74B3;
    border: solid 1px white;
    border-radius: 1px;
    margin: 5%;
}
.imagens{
    background-color: #2C74B3;
    display: flex;
    justify-content: center;
}
#box1{
    margin-right: 5%;
}
#box2{
    margin-left: 5%;
}
#box3{
    margin-right: 10%
}
#box5{
    margin-left: 10%
}
.box{
    background-color: #144272;
    color: #144272;
    border: 2px solid white;
    padding: 10%;
    border-radius: 15px;
}
#chao{
    background-color: #144272;
    border-top: solid 1px #205295;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    justify-content: center;
}
#comandante{
    color: white;
    padding-left: 3%;
}
#direitos{
    color: white;
    padding-left: 5%;
}